@charset "utf-8";
	.st0
{
	background : #7DAA40;
	background : rgba(125, 170, 64, 1);
	border-style : Solid;
	border-color : #7DAA40;
	border-color : rgba(125, 170, 64, 1);
	border-width : 1px;
	position : absolute ;
	left : 3106px;
	top : -230px;
	width : 0px;
	height : 26px;
}
.st1
{
	background : #F8F8F8;
	background : rgba(248, 248, 248, 1);
	position : absolute ;
	left : 7091px;
	top : 1172px;
	width : 640px;
	height : 171px;
}
.st2
{
	background : #FFFFFF;
	background : rgba(255, 255, 255, 1);
	position : absolute ;
	left : 7122px;
	top : 267px;
	width : 641px;
	height : 182px;
}
.st3
{
	background : #7DAA40;
	background : rgba(125, 170, 64, 1);
	position : absolute ;
	left : 3992px;
	top : 426px;
	width : 123px;
	height : 123px;
}
.st4
{
	background : #FFFFFF;
	background : rgba(255, 255, 255, 1);
	position : absolute ;
	left : 5042px;
	top : -270px;
	width : 641px;
	height : 1100px;
}
.st5
{
	background : #FFFFFF;
	background : rgba(255, 255, 255, 1);
	position : absolute ;
	left : 7122px;
	top : -98px;
	width : 641px;
	height : 182px;
}
.st6
{
	background : #060809;
	background : rgba(6, 8, 9, 1);
	border-style : Solid;
	border-color : #7DAA40;
	border-color : rgba(125, 170, 64, 1);
	border-width : 2px;
	position : absolute ;
	left : 3598px;
	top : 180px;
	width : 479px;
	height : 0px;
}
.st7
{
	background : #F8F8F8;
	background : rgba(248, 248, 248, 1);
	position : absolute ;
	left : 7091px;
	top : 1246px;
	width : 640px;
	height : 97px;
}
.st8
{
	background : #FFFFFF;
	background : rgba(255, 255, 255, 1);
	position : absolute ;
	left : 5042px;
	top : 1175px;
	width : 641px;
	height : 1100px;
}
.st9
{
	background : #FFFFFF;
	background : rgba(255, 255, 255, 1);
	position : absolute ;
	left : 7122px;
	top : 84px;
	width : 641px;
	height : 182px;
}
.st10
{
	background : #F6F6F6;
	background : rgba(246, 246, 246, 1);
	position : absolute ;
	left : 3519px;
	top : -270px;
	width : 641px;
	height : 1100px;
}
.st11
{
	background : #F1EA22;
	background : rgba(241, 234, 34, 1);
	position : absolute ;
	left : 3520px;
	top : 237px;
	width : 641px;
	height : 592px;
}
.st12
{
	background : #7DAA40;
	background : rgba(125, 170, 64, 1);
	position : absolute ;
	left : 3579px;
	top : 426px;
	width : 123px;
	height : 123px;
}
.st13
{
	background : #7DAA40;
	background : rgba(125, 170, 64, 1);
	position : absolute ;
	left : 3045px;
	top : -196px;
	width : 122px;
	height : 121px;
}
.st14
{
	background : #FFFFFF;
	background : rgba(255, 255, 255, 1);
	position : absolute ;
	left : 6428px;
	top : -98px;
	width : 641px;
	height : 182px;
}
.st15
{
	background : #FFFFFF;
	background : rgba(255, 255, 255, 1);
	position : absolute ;
	left : 7122px;
	top : -98px;
	width : 641px;
	height : 930px;
}
.st16
{
	background : #F6F6F6;
	background : rgba(246, 246, 246, 1);
	border-style : Solid;
	border-color : #7DAA40;
	border-color : rgba(125, 170, 64, 1);
	border-width : 1px;
	position : absolute ;
	left : 2934px;
	top : 665px;
	width : 399px;
	height : 102px;
	border-radius : 51px;
	-moz-border-radius : 51px;
	-webkit-border-radius : 51px;
}
.st17
{
	background : #060809;
	background : rgba(6, 8, 9, 1);
	border-style : Solid;
	border-color : #7DAA40;
	border-color : rgba(125, 170, 64, 1);
	border-width : 2px;
	position : absolute ;
	left : 3598px;
	top : 80px;
	width : 479px;
	height : 0px;
}
.st18
{
	background : #F6F6F6;
	background : rgba(246, 246, 246, 1);
	border-style : Solid;
	border-color : #7DAA40;
	border-color : rgba(125, 170, 64, 1);
	border-width : 1px;
	position : absolute ;
	left : 3638px;
	top : 665px;
	width : 399px;
	height : 102px;
	border-radius : 51px;
	-moz-border-radius : 51px;
	-webkit-border-radius : 51px;
}
.NormalCharacterStyle79
{
	font-family : HelveticaNeueThin;
	font-size : 33px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle78
{
	font-family : Helvetica;
	font-size : 48px;
	color : #5D5E5E;
	color : rgb(93, 94, 94);
}
.NormalCharacterStyle77
{
	font-family : HelveticaNeueThin;
	font-size : 28px;
	color : #231F20;
	color : rgb(35, 31, 32);
}
.NormalCharacterStyle76
{
	font-family : Helvetica;
	font-size : 48px;
	color : #5D5E5E;
	color : rgb(93, 94, 94);
}
.NormalCharacterStyle75
{
	font-family : HelveticaNeueThin;
	font-size : 28px;
	color : #231F20;
	color : rgb(35, 31, 32);
}
.NormalCharacterStyle74
{
	font-family : Helvetica;
	font-size : 48px;
	color : #5D5E5E;
	color : rgb(93, 94, 94);
}
.NormalCharacterStyle73
{
	font-family : HelveticaNeueThin;
	font-size : 28px;
	color : #231F20;
	color : rgb(35, 31, 32);
}
.NormalCharacterStyle72
{
	font-family : Helvetica;
	font-size : 48px;
	color : #5D5E5E;
	color : rgb(93, 94, 94);
}
.NormalCharacterStyle71
{
	font-family : HelveticaNeueThin;
	font-size : 28px;
	color : #231F20;
	color : rgb(35, 31, 32);
}
.NormalCharacterStyle70
{
	font-family : Helvetica;
	font-size : 48px;
	color : #5D5E5E;
	color : rgb(93, 94, 94);
}
.NormalCharacterStyle69
{
	font-family : HelveticaNeueThin;
	font-size : 28px;
	color : #231F20;
	color : rgb(35, 31, 32);
}
.NormalCharacterStyle68
{
	font-family : Helvetica;
	font-size : 48px;
	color : #5D5E5E;
	color : rgb(93, 94, 94);
	opacity : 0.4;
	filter: alpha(opacity=40) progid:DXImageTransform.Microsoft.Alpha(opacity=40) ;
}
.NormalCharacterStyle67
{
	font-family : HelveticaNeueThin;
	font-size : 28px;
	color : #231F20;
	color : rgb(35, 31, 32);
	opacity : 0.4;
	filter: alpha(opacity=40) progid:DXImageTransform.Microsoft.Alpha(opacity=40) ;
}
.NormalCharacterStyle66
{
	font-family : Helvetica;
	font-size : 48px;
	color : #5D5E5E;
	color : rgb(93, 94, 94);
}
.NormalCharacterStyle65
{
	font-family : HelveticaNeueThin;
	font-size : 28px;
	color : #231F20;
	color : rgb(35, 31, 32);
}
.NormalCharacterStyle64
{
	font-family : HelveticaNeueThin;
	font-size : 52px;
	color : #231F20;
	color : rgb(35, 31, 32);
}
.NormalCharacterStyle63
{
	font-family : Helvetica;
	font-size : 67px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle62
{
	font-family : HelveticaNeueThin;
	font-size : 33px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle61
{
	font-family : HelveticaNeueThin;
	font-size : 52px;
	color : #231F20;
	color : rgb(35, 31, 32);
}
.NormalCharacterStyle60
{
	font-family : Helvetica;
	font-size : 67px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle59
{
	font-family : HelveticaNeueThin;
	font-size : 33px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle58
{
	font-family : HelveticaNeueThin;
	font-size : 52px;
	color : #231F20;
	color : rgb(35, 31, 32);
}
.NormalCharacterStyle57
{
	font-family : Helvetica;
	font-size : 67px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle56
{
	font-family : HelveticaNeueThin;
	font-size : 33px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle55
{
	font-family : HelveticaNeueThin;
	font-size : 52px;
	color : #231F20;
	color : rgb(35, 31, 32);
}
.NormalCharacterStyle54
{
	font-family : Helvetica;
	font-size : 67px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle53
{
	font-family : HelveticaNeueThin;
	font-size : 33px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle52
{
	font-family : HelveticaNeueThin;
	font-size : 52px;
	color : #231F20;
	color : rgb(35, 31, 32);
}
.NormalCharacterStyle51
{
	font-family : HelveticaNeueLTStd Lt;
	font-size : 36px;
	color : #010101;
	color : rgb(1, 1, 1);
}
.NormalCharacterStyle50
{
	font-family : HelveticaNeueThin;
	font-size : 34px;
	color : #4374B9;
	color : rgb(67, 116, 185);
}
.NormalCharacterStyle49
{
	font-family : HelveticaNeueThin;
	font-size : 34px;
	color : #4374B9;
	color : rgb(67, 116, 185);
}
.NormalCharacterStyle48
{
	font-family : HelveticaNeueLTStd Md;
	font-size : 26px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle47
{
	font-family : HelveticaNeueLTStd Md;
	font-size : 26px;
	color : #4374B9;
	color : rgb(67, 116, 185);
}
.NormalCharacterStyle46
{
	font-family : HelveticaNeueLTStd Md;
	font-size : 26px;
	color : #4374B9;
	color : rgb(67, 116, 185);
}
.NormalCharacterStyle45
{
	font-family : HelveticaNeueLTStd Lt;
	font-size : 36px;
	color : #010101;
	color : rgb(1, 1, 1);
}
.NormalCharacterStyle44
{
	font-family : HelveticaNeueThin;
	font-size : 34px;
	color : #4374B9;
	color : rgb(67, 116, 185);
}
.NormalCharacterStyle43
{
	font-family : HelveticaNeueLTStd Lt;
	font-size : 26px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle42
{
	font-family : HelveticaNeueLTStd Lt;
	font-size : 26px;
	color : #4374B9;
	color : rgb(67, 116, 185);
}
.NormalCharacterStyle41
{
	font-family : HelveticaNeueLTStd Lt;
	font-size : 26px;
	color : #4374B9;
	color : rgb(67, 116, 185);
}
.NormalCharacterStyle40
{
	font-family : HelveticaNeueLTStd Lt;
	font-size : 36px;
	color : #010101;
	color : rgb(1, 1, 1);
}
.NormalCharacterStyle39
{
	font-family : HelveticaNeueThin;
	font-size : 34px;
	color : #4374B9;
	color : rgb(67, 116, 185);
}
.NormalCharacterStyle38
{
	font-family : HelveticaNeueLTStd Lt;
	font-size : 26px;
	color : #4374B9;
	color : rgb(67, 116, 185);
}
.NormalCharacterStyle37
{
	font-family : HelveticaNeueLTStd Lt;
	font-size : 36px;
	color : #010101;
	color : rgb(1, 1, 1);
}
.NormalCharacterStyle36
{
	font-family : HelveticaNeueThin;
	font-size : 34px;
	color : #4374B9;
	color : rgb(67, 116, 185);
}
.NormalCharacterStyle35
{
	font-family : HelveticaNeueLTStd Lt;
	font-size : 26px;
	color : #4374B9;
	color : rgb(67, 116, 185);
}
.NormalCharacterStyle34
{
	font-family : HelveticaNeueLTStd Lt;
	font-size : 26px;
	color : #4374B9;
	color : rgb(67, 116, 185);
}
.NormalCharacterStyle33
{
	font-family : HelveticaNeueLTStd Lt;
	font-size : 26px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle32
{
	font-family : Aller;
	font-size : 41px;
	color : #5D5E5E;
	color : rgb(93, 94, 94);
}
.NormalCharacterStyle31
{
	font-family : Aller Bold;
	font-weight : bold;
	font-size : 63px;
	letter-spacing : -1.58px;
	color : #7DA940;
	color : rgb(125, 169, 64);
}
.NormalCharacterStyle30
{
	font-family : HelveticaNeueThin;
	font-size : 33px;
	color : #231F20;
	color : rgb(35, 31, 32);
}
.NormalCharacterStyle29
{
	font-family : HelveticaNeueThin;
	font-size : 33px;
	color : #231F20;
	color : rgb(35, 31, 32);
}
.NormalCharacterStyle28
{
	font-family : HelveticaNeueThin;
	font-size : 33px;
	color : #231F20;
	color : rgb(35, 31, 32);
}
.NormalCharacterStyle27
{
	font-family : LoveSweets;
	font-size : 63px;
	letter-spacing : -1.58px;
	color : #FF0000;
	color : rgb(255, 0, 0);
	opacity : 0.4;
	filter: alpha(opacity=40) progid:DXImageTransform.Microsoft.Alpha(opacity=40) ;
}
.NormalCharacterStyle26
{
	font-family : HelveticaNeueThin;
	font-size : 52px;
	color : #231F20;
	color : rgb(35, 31, 32);
}
.NormalCharacterStyle25
{
	font-family : HelveticaNeueLTStd ThIt;
	font-size : 26px;
	color : #231F20;
	color : rgb(35, 31, 32);
}
.NormalCharacterStyle24
{
	font-family : Aller;
	font-size : 41px;
	color : #5D5E5E;
	color : rgb(93, 94, 94);
}
.NormalCharacterStyle23
{
	font-family : Aller Bold;
	font-weight : bold;
	font-size : 63px;
	letter-spacing : -1.58px;
	color : #7DA940;
	color : rgb(125, 169, 64);
}
.NormalCharacterStyle22
{
	font-family : HelveticaNeueThin;
	font-size : 30px;
	color : #231F20;
	color : rgb(35, 31, 32);
}
.NormalCharacterStyle21
{
	font-family : HelveticaNeueThin;
	font-size : 30px;
	color : #231F20;
	color : rgb(35, 31, 32);
}
.NormalCharacterStyle20
{
	font-family : HelveticaNeueLTStd Th;
	font-size : 41px;
	line-height : 36px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle19
{
	font-family : HelveticaNeueThin;
	font-size : 52px;
	color : #231F20;
	color : rgb(35, 31, 32);
}
.NormalCharacterStyle18
{
	font-family : HelveticaNeueThin;
	font-size : 30px;
	color : #231F20;
	color : rgb(35, 31, 32);
}
.NormalCharacterStyle17
{
	font-family : HelveticaNeueLTStd Th;
	font-size : 52px;
	color : #231F20;
	color : rgb(35, 31, 32);
}
.NormalCharacterStyle16
{
	font-family : HelveticaNeueThin;
	font-size : 30px;
	color : #231F20;
	color : rgb(35, 31, 32);
}
.NormalCharacterStyle15
{
	font-family : HelveticaNeueThin;
	font-size : 30px;
	color : #231F20;
	color : rgb(35, 31, 32);
}
.NormalCharacterStyle14
{
	font-family : HelveticaNeueLTStd Th;
	font-size : 48px;
	color : #5D5E5E;
	color : rgb(93, 94, 94);
}
.NormalCharacterStyle13
{
	font-family : HelveticaNeueLTStd Th;
	font-size : 48px;
	color : #5D5E5E;
	color : rgb(93, 94, 94);
}
.NormalCharacterStyle12
{
	font-family : HelveticaNeueLTStd Lt;
	font-size : 26px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle11
{
	font-family : HelveticaNeueLTStd Lt;
	font-size : 26px;
	color : #4374B9;
	color : rgb(67, 116, 185);
}
.NormalCharacterStyle10
{
	font-family : Helvetica;
	font-size : 67px;
	color : #060809;
	color : rgb(6, 8, 9);
}
.NormalCharacterStyle9
{
	font-family : HelveticaNeueLTStd Lt;
	font-size : 24px;
	color : #646565;
	color : rgb(100, 101, 101);
}
.NormalCharacterStyle4
{
	font-family : HelveticaNeueThin;
	font-size : 34px;
	color : #4374B9;
	color : rgb(67, 116, 185);
}
.NormalCharacterStyle8
{
	font-family : Helvetica;
	font-size : 67px;
	color : #060809;
	color : rgb(6, 8, 9);
}
.NormalCharacterStyle5
{
	font-family : HelveticaNeueLTStd Lt;
	font-size : 36px;
	color : #010101;
	color : rgb(1, 1, 1);
}
.NormalCharacterStyle3
{
	font-family : HelveticaNeueLTStd Lt;
	font-size : 26px;
	color : #4374B9;
	color : rgb(67, 116, 185);
}
.NormalCharacterStyle1
{
	font-family : HelveticaNeueLTStd Lt;
	font-size : 26px;
	color : #4374B9;
	color : rgb(67, 116, 185);
}
.NormalCharacterStyle6
{
	font-family : HelveticaNeueLTStd Bd;
	font-size : 22px;
	color : #4374B9;
	color : rgb(67, 116, 185);
}
.NormalCharacterStyle
{
	font-family : HelveticaNeueLTStd HvIt;
	font-size : 21px;
	color : #231F20;
	color : rgb(35, 31, 32);
}
.NormalCharacterStyle7
{
	font-family : HelveticaNeueThin;
	font-size : 33px;
	color : #231F20;
	color : rgb(35, 31, 32);
}
.NormalCharacterStyle2
{
	font-family : HelveticaNeueLTStd Lt;
	font-size : 26px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.image99
{
	background-image : url(image99.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 6478px;
	top : 140px;
	width : 296px;
	height : 166px;
}
.image100
{
	background-image : url(image100.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 6799px;
	top : 118px;
	width : 194px;
	height : 223px;
}
.image98
{
	background-image : url(image98.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 2951px;
	top : 3615px;
	width : 643px;
	height : 1137px;
}
.image97
{
	background-image : url(image97.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 721px;
	top : -306px;
	width : 642px;
	height : 1137px;
}
.image95
{
	background-image : url(image95.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 1442px;
	top : 2412px;
	width : 643px;
	height : 1137px;
}
.image93
{
	background-image : url(image93.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 7020px;
	top : 3037px;
	width : 69px;
	height : 77px;
}
.image96
{
	background-image : url(image96.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 5399px;
	top : 3369px;
	width : 154px;
	height : 35px;
}
.image94
{
	background-image : url(image94.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 1517px;
	top : 2521px;
	width : 78px;
	height : 78px;
}
.image91
{
	background-image : url(image91.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 5744px;
	top : -99px;
	width : 643px;
	height : 601px;
}
.image92
{
	background-image : url(image92.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 1537px;
	top : 2895px;
	width : 472px;
	height : 38px;
}
.image89
{
	background-image : url(image89.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 5839px;
	top : 344px;
	width : 472px;
	height : 38px;
}
.image90
{
	background-image : url(image90.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 5819px;
	top : -30px;
	width : 78px;
	height : 78px;
}
.image85
{
	background-image : url(image85.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 3005px;
	top : 4271px;
	width : 64px;
	height : 58px;
}
.image86
{
	background-image : url(image86.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 3005px;
	top : 4451px;
	width : 64px;
	height : 58px;
}
.image87
{
	background-image : url(image87.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 3005px;
	top : 4634px;
	width : 64px;
	height : 59px;
}
.image84
{
	background-image : url(image84.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 3005px;
	top : 4082px;
	width : 64px;
	height : 59px;
}
.image76
{
	background-image : url(image76.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 3034px;
	top : 2702px;
	width : 181px;
	height : 180px;
}
.image74
{
	background-image : url(image74.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 6493px;
	top : 1431px;
	width : 183px;
	height : 184px;
}
.image88
{
	background-image : url(image88.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 2295px;
	top : 2702px;
	width : 194px;
	height : 178px;
}
.image77
{
	background-image : url(image77.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 5827px;
	top : 1438px;
	width : 194px;
	height : 177px;
}
.image83
{
	background-image : url(image83.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 3005px;
	top : 3899px;
	width : 64px;
	height : 59px;
}
.image75
{
	background-image : url(image75.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 3811px;
	top : 2697px;
	width : 184px;
	height : 184px;
}
.image71
{
	background-image : url(image71.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 5949px;
	top : -964px;
	width : 601px;
	height : 59px;
}
.image79
{
	background-image : url(image79.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 2252px;
	top : 4452px;
	width : 64px;
	height : 59px;
}
.image80
{
	background-image : url(image80.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 2252px;
	top : 4636px;
	width : 64px;
	height : 58px;
}
.image72
{
	background-image : url(image72.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 6978px;
	top : 2411px;
	width : 641px;
	height : 41px;
}
.image73
{
	background-image : url(image73.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 6998px;
	top : 2545px;
	width : 601px;
	height : 59px;
}
.image81
{
	background-image : url(image81.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 2198px;
	top : 3615px;
	width : 643px;
	height : 1137px;
}
.image70
{
	background-image : url(image70.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 5929px;
	top : -1098px;
	width : 641px;
	height : 41px;
}
.image69
{
	background-image : url(image69.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 6643px;
	top : -1098px;
	width : 641px;
	height : 41px;
}
.image68
{
	background-image : url(image68.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 7358px;
	top : -964px;
	width : 601px;
	height : 59px;
}
.image66
{
	background-image : url(image66.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 4540px;
	top : 2703px;
	width : 170px;
	height : 184px;
}
.image67
{
	background-image : url(image67.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 7338px;
	top : -1098px;
	width : 641px;
	height : 41px;
}
.image65
{
	background-image : url(image65.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 4670px;
	top : 3369px;
	width : 154px;
	height : 35px;
}
.image64
{
	background-image : url(image64.png);
	background-repeat : no-repeat;
	opacity : 0.2;
	position : absolute ;
	left : 5166px;
	top : 2618px;
	width : 370px;
	height : 513px;
	filter: alpha(opacity=20) progid:DXImageTransform.Microsoft.Alpha(opacity=20) ;
}
.image63
{
	background-image : url(image63.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 5405px;
	top : 2686px;
	width : 97px;
	height : 106px;
}
.image62
{
	background-image : url(image62.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 5464px;
	top : 2606px;
	width : 127px;
	height : 127px;
}
.image60
{
	background-image : url(image60.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 6121px;
	top : 3028px;
	width : 127px;
	height : 138px;
}
.image61
{
	background-image : url(image61.png);
	background-repeat : no-repeat;
	opacity : 0.2;
	position : absolute ;
	left : 5974px;
	top : 2668px;
	width : 513px;
	height : 513px;
	filter: alpha(opacity=20) progid:DXImageTransform.Microsoft.Alpha(opacity=20) ;
}
.image58
{
	background-image : url(image58.png);
	background-repeat : no-repeat;
	opacity : 0.1;
	position : absolute ;
	left : 1587px;
	top : -41px;
	width : 346px;
	height : 345px;
	filter: alpha(opacity=10) progid:DXImageTransform.Microsoft.Alpha(opacity=10) ;
}
.image57
{
	background-image : url(image57.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 1686px;
	top : 423px;
	width : 154px;
	height : 35px;
}
.image56
{
	background-image : url(image56.png);
	background-repeat : no-repeat;
	opacity : 0.1;
	position : absolute ;
	left : 2276px;
	top : -41px;
	width : 345px;
	height : 345px;
	filter: alpha(opacity=10) progid:DXImageTransform.Microsoft.Alpha(opacity=10) ;
}
.image59
{
	background-image : url(image59.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 6039px;
	top : 2953px;
	width : 127px;
	height : 127px;
}
.image54
{
	background-image : url(image54.png);
	background-repeat : no-repeat;
	opacity : 0.1;
	position : absolute ;
	left : 2961px;
	top : -41px;
	width : 345px;
	height : 345px;
	filter: alpha(opacity=10) progid:DXImageTransform.Microsoft.Alpha(opacity=10) ;
}
.image53
{
	background-image : url(image53.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 3155px;
	top : 202px;
	width : 18px;
	height : 17px;
}
.image52
{
	background-image : url(image52.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 3087px;
	top : 145px;
	width : 37px;
	height : 36px;
}
.image51
{
	background-image : url(image51.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 2402px;
	top : 141px;
	width : 37px;
	height : 36px;
}
.image49
{
	background-image : url(image49.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 3204px;
	top : 123px;
	width : 18px;
	height : 17px;
}
.image50
{
	background-image : url(image50.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 2458px;
	top : 192px;
	width : 37px;
	height : 36px;
}
.image82
{
	background-image : url(image82.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 3005px;
	top : 3719px;
	width : 64px;
	height : 58px;
}
.image46
{
	background-image : url(image46.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 3045px;
	top : 40px;
	width : 19px;
	height : 17px;
}
.image48
{
	background-image : url(image48.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 3096px;
	top : 96px;
	width : 19px;
	height : 17px;
}
.image55
{
	background-image : url(image55.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 2374px;
	top : 423px;
	width : 154px;
	height : 35px;
}
.image47
{
	background-image : url(image47.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 2996px;
	top : 98px;
	width : 18px;
	height : 17px;
}
.image78
{
	background-image : url(image78.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 2252px;
	top : 4271px;
	width : 64px;
	height : 58px;
}
.image45
{
	background-image : url(image45.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 3013px;
	top : -222px;
	width : 64px;
	height : 112px;
}
.image44
{
	background-image : url(image44.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 3137px;
	top : -222px;
	width : 65px;
	height : 112px;
}
.image43
{
	background-image : url(image43.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 4461px;
	top : -128px;
	width : 219px;
	height : 567px;
}
.image42
{
	background-image : url(image42.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 3060px;
	top : 423px;
	width : 154px;
	height : 35px;
}
.image41
{
	background-image : url(image41.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 1820px;
	top : 93px;
	width : 38px;
	height : 50px;
}
.image30
{
	background-image : url(image30.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 3717px;
	top : 426px;
	width : 125px;
	height : 125px;
}
.image35
{
	background-image : url(image35.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 2512px;
	top : 93px;
	width : 37px;
	height : 50px;
}
.image31
{
	background-image : url(image31.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 3579px;
	top : 426px;
	width : 125px;
	height : 125px;
}
.image36
{
	background-image : url(image36.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 1660px;
	top : 17px;
	width : 37px;
	height : 50px;
}
.image27
{
	background-image : url(image27.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 3599px;
	top : 451px;
	width : 82px;
	height : 75px;
}
.image39
{
	background-image : url(image39.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 1713px;
	top : 138px;
	width : 37px;
	height : 50px;
}
.image33
{
	background-image : url(image33.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 2302px;
	top : 66px;
	width : 38px;
	height : 50px;
}
.image40
{
	background-image : url(image40.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 1771px;
	top : 180px;
	width : 38px;
	height : 50px;
}
.image37
{
	background-image : url(image37.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 1612px;
	top : 75px;
	width : 38px;
	height : 49px;
}
.image38
{
	background-image : url(image38.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 1711px;
	top : 72px;
	width : 37px;
	height : 50px;
}
.image32
{
	background-image : url(image32.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 2348px;
	top : 8px;
	width : 38px;
	height : 50px;
}
.image24
{
	background-image : url(image24.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 6663px;
	top : -964px;
	width : 601px;
	height : 59px;
}
.image29
{
	background-image : url(image29.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 3854px;
	top : 426px;
	width : 125px;
	height : 125px;
}
.image26
{
	background-image : url(image26.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 4012px;
	top : 451px;
	width : 82px;
	height : 75px;
}
.image34
{
	background-image : url(image34.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 2401px;
	top : 65px;
	width : 37px;
	height : 50px;
}
.image28
{
	background-image : url(image28.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 3992px;
	top : 426px;
	width : 125px;
	height : 125px;
}
.image20
{
	background-image : url(image20.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 5043px;
	top : 1135px;
	width : 641px;
	height : 212px;
}
.image21
{
	background-image : url(image21.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 5058px;
	top : 1381px;
	width : 611px;
	height : 1005px;
}
.image22
{
	background-image : url(image22.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 5043px;
	top : -310px;
	width : 641px;
	height : 212px;
}
.image23
{
	background-image : url(image23.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 5058px;
	top : -64px;
	width : 611px;
	height : 1005px;
}
.image19
{
	background-image : url(image19.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 5745px;
	top : -310px;
	width : 642px;
	height : 212px;
}
.image13
{
	background-image : url(image13.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 7123px;
	top : -99px;
	width : 642px;
	height : 601px;
}
.image17
{
	background-image : url(image17.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 6523px;
	top : 1px;
	width : 472px;
	height : 3px;
}
.image16
{
	background-image : url(image16.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 6428px;
	top : -310px;
	width : 643px;
	height : 212px;
}
.image18
{
	background-image : url(image18.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 6428px;
	top : -99px;
	width : 643px;
	height : 256px;
}
.image12
{
	background-image : url(image12.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 7197px;
	top : -30px;
	width : 78px;
	height : 78px;
}
.image15
{
	background-image : url(image15.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 6108px;
	top : 501px;
	width : 195px;
	height : 223px;
}
.image25
{
	background-image : url(image25.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 6643px;
	top : -887px;
	width : 641px;
	height : 89px;
}
.image14
{
	background-image : url(image14.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 5788px;
	top : 522px;
	width : 296px;
	height : 167px;
}
.image11
{
	background-image : url(image11.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 7218px;
	top : 344px;
	width : 472px;
	height : 38px;
}
.image10
{
	background-image : url(image10.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 7123px;
	top : -310px;
	width : 642px;
	height : 212px;
}
.image9
{
	background-image : url(image9.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 7123px;
	top : 395px;
	width : 641px;
	height : 434px;
}
.image7
{
	background-image : url(image7.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 6409px;
	top : 1135px;
	width : 643px;
	height : 212px;
}
.image6
{
	background-image : url(image6.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 7091px;
	top : 1132px;
	width : 641px;
	height : 1137px;
}
.image8
{
	background-image : url(image8.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 5731px;
	top : 1135px;
	width : 642px;
	height : 212px;
}
.image4
{
	background-image : url(image4.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 7091px;
	top : 1345px;
	width : 641px;
	height : 45px;
}
.image3
{
	background-image : url(image3.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 7091px;
	top : 1132px;
	width : 641px;
	height : 41px;
}
.image5
{
	background-image : url(image5.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 7091px;
	top : 1435px;
	width : 641px;
	height : 834px;
}
.image
{
	background-image : url(image.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 7111px;
	top : 1266px;
	width : 601px;
	height : 59px;
}
.image2
{
	background-image : url(image2.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 7091px;
	top : 1132px;
	width : 641px;
	height : 41px;
}
.image1
{
	background-image : url(image1.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 7091px;
	top : 1343px;
	width : 641px;
	height : 89px;
}
.st19
{
	background : #FFFFFF;
	background : rgba(255, 255, 255, 1);
	position : absolute ;
	left : 6428px;
	top : -98px;
	width : 641px;
	height : 930px;
}
.st20
{
	background : #F6F6F6;
	background : rgba(246, 246, 246, 1);
	position : absolute ;
	left : 4269px;
	top : -270px;
	width : 641px;
	height : 1100px;
}
.st21
{
	background : #F1EA22;
	background : rgba(241, 234, 34, 1);
	position : absolute ;
	left : 5155px;
	top : 2453px;
	width : 641px;
	height : 1095px;
}
.st22
{
	background : #F1EA22;
	background : rgba(241, 234, 34, 1);
	position : absolute ;
	left : 6977px;
	top : 2449px;
	width : 641px;
	height : 1098px;
}
.st23
{
	background : #FFFFFF;
	background : rgba(255, 255, 255, 1);
	position : absolute ;
	left : 0px;
	top : 274px;
	width : 595px;
	height : 232px;
}
.st24
{
	background : #F6F6F6;
	background : rgba(246, 246, 246, 1);
	position : absolute ;
	left : 1441px;
	top : -270px;
	width : 641px;
	height : 1100px;
}
.st25
{
	background : #F6F6F6;
	background : rgba(246, 246, 246, 1);
	position : absolute ;
	left : 4441px;
	top : 2451px;
	width : 641px;
	height : 1096px;
}
.st26
{
	background : #F6F6F6;
	background : rgba(246, 246, 246, 1);
	position : absolute ;
	left : 5155px;
	top : 2451px;
	width : 641px;
	height : 741px;
}
.st27
{
	background : #FFFFFF;
	background : rgba(255, 255, 255, 1);
	position : absolute ;
	left : 1442px;
	top : 2635px;
	width : 641px;
	height : 182px;
}
.st28
{
	background : #FFFFFF;
	background : rgba(255, 255, 255, 1);
	position : absolute ;
	left : 1442px;
	top : 2818px;
	width : 641px;
	height : 182px;
}
.st29
{
	background : #FFFFFF;
	background : rgba(255, 255, 255, 1);
	position : absolute ;
	left : 1442px;
	top : 2452px;
	width : 641px;
	height : 1095px;
}
.st30
{
	background : #FFFFFF;
	background : rgba(255, 255, 255, 1);
	position : absolute ;
	left : 1442px;
	top : 2452px;
	width : 641px;
	height : 182px;
}
.st31
{
	background : #F1EA22;
	background : rgba(241, 234, 34, 1);
	position : absolute ;
	left : 1441px;
	top : 2452px;
	width : 641px;
	height : 546px;
}
.st32
{
	background : #F5EB1E;
	background : rgba(245, 235, 30, 1);
	position : absolute ;
	left : 1719px;
	top : 2977px;
	width : 86px;
	height : 75px;
}
.st33
{
	background : #FFFFFF;
	background : rgba(255, 255, 255, 1);
	position : absolute ;
	left : 5744px;
	top : 84px;
	width : 641px;
	height : 182px;
}
.st34
{
	background : #FFFFFF;
	background : rgba(255, 255, 255, 1);
	position : absolute ;
	left : 5744px;
	top : 267px;
	width : 641px;
	height : 182px;
}
.st35
{
	background : #FFFFFF;
	background : rgba(255, 255, 255, 1);
	position : absolute ;
	left : 5744px;
	top : -98px;
	width : 641px;
	height : 930px;
}
.st36
{
	background : #FFFFFF;
	background : rgba(255, 255, 255, 1);
	position : absolute ;
	left : 5744px;
	top : -98px;
	width : 641px;
	height : 182px;
}
.st37
{
	background : #FFFFFF;
	background : rgba(255, 255, 255, 1);
	position : absolute ;
	left : 2198px;
	top : 2635px;
	width : 641px;
	height : 182px;
}
.st38
{
	background : #FFFFFF;
	background : rgba(255, 255, 255, 1);
	position : absolute ;
	left : 2198px;
	top : 2452px;
	width : 641px;
	height : 182px;
}
.st39
{
	background : #7DAA40;
	background : rgba(125, 170, 64, 1);
	position : absolute ;
	left : 2198px;
	top : 2452px;
	width : 641px;
	height : 1095px;
}
.st40
{
	background : #FFFFFF;
	background : rgba(255, 255, 255, 1);
	position : absolute ;
	left : 2198px;
	top : 2452px;
	width : 641px;
	height : 1095px;
}
.st41
{
	background : #FFFFFF;
	background : rgba(255, 255, 255, 1);
	position : absolute ;
	left : 2951px;
	top : 3837px;
	width : 641px;
	height : 182px;
}
.st42
{
	background : #FFFFFF;
	background : rgba(255, 255, 255, 1);
	position : absolute ;
	left : 2951px;
	top : 4019px;
	width : 641px;
	height : 182px;
}
.st43
{
	background : #FFFFFF;
	background : rgba(255, 255, 255, 1);
	position : absolute ;
	left : 2951px;
	top : 3654px;
	width : 641px;
	height : 1095px;
}
.st44
{
	background : #FFFFFF;
	background : rgba(255, 255, 255, 1);
	position : absolute ;
	left : 2951px;
	top : 3654px;
	width : 641px;
	height : 182px;
}
.st45
{
	background : #F1EA22;
	background : rgba(241, 234, 34, 1);
	position : absolute ;
	left : 2951px;
	top : 3837px;
	width : 641px;
	height : 3px;
}
.st46
{
	background : #F1EA22;
	background : rgba(241, 234, 34, 1);
	position : absolute ;
	left : 2951px;
	top : 4019px;
	width : 641px;
	height : 3px;
}
.st47
{
	background : #F1EA22;
	background : rgba(241, 234, 34, 1);
	position : absolute ;
	left : 2951px;
	top : 4199px;
	width : 641px;
	height : 3px;
}
.st48
{
	background : #F1EA22;
	background : rgba(241, 234, 34, 1);
	position : absolute ;
	left : 2951px;
	top : 4385px;
	width : 641px;
	height : 3px;
}
.st49
{
	background : #F1EA22;
	background : rgba(241, 234, 34, 1);
	position : absolute ;
	left : 2951px;
	top : 4567px;
	width : 641px;
	height : 3px;
}
.st50
{
	background : #7DAA40;
	background : rgba(125, 170, 64, 1);
	position : absolute ;
	left : 2972px;
	top : 4594px;
	width : 128px;
	height : 128px;
}
.st51
{
	background : #7DAA40;
	background : rgba(125, 170, 64, 1);
	position : absolute ;
	left : 2972px;
	top : 4411px;
	width : 128px;
	height : 128px;
}
.st52
{
	background : #7DAA40;
	background : rgba(125, 170, 64, 1);
	position : absolute ;
	left : 2972px;
	top : 4229px;
	width : 128px;
	height : 128px;
}
.st53
{
	background : #7DAA40;
	background : rgba(125, 170, 64, 1);
	position : absolute ;
	left : 2972px;
	top : 4046px;
	width : 128px;
	height : 128px;
}
.st54
{
	background : #7DAA40;
	background : rgba(125, 170, 64, 1);
	position : absolute ;
	left : 2972px;
	top : 3863px;
	width : 128px;
	height : 128px;
}
.st55
{
	background : #7DAA40;
	background : rgba(125, 170, 64, 1);
	position : absolute ;
	left : 2972px;
	top : 3681px;
	width : 128px;
	height : 128px;
}
.st56
{
	background : #7DAA40;
	background : rgba(125, 170, 64, 1);
	position : absolute ;
	left : 3020px;
	top : 4489px;
	width : 28px;
	height : 157px;
	border-radius : 10px;
	-moz-border-radius : 10px;
	-webkit-border-radius : 10px;
}
.st57
{
	background : #7DAA40;
	background : rgba(125, 170, 64, 1);
	position : absolute ;
	left : 3020px;
	top : 4309px;
	width : 28px;
	height : 157px;
	border-radius : 10px;
	-moz-border-radius : 10px;
	-webkit-border-radius : 10px;
}
.st58
{
	background : #7DAA40;
	background : rgba(125, 170, 64, 1);
	position : absolute ;
	left : 3020px;
	top : 4125px;
	width : 28px;
	height : 157px;
	border-radius : 10px;
	-moz-border-radius : 10px;
	-webkit-border-radius : 10px;
}
.st59
{
	background : #7DAA40;
	background : rgba(125, 170, 64, 1);
	position : absolute ;
	left : 3020px;
	top : 3937px;
	width : 28px;
	height : 157px;
	border-radius : 10px;
	-moz-border-radius : 10px;
	-webkit-border-radius : 10px;
}
.st60
{
	background : #7DAA40;
	background : rgba(125, 170, 64, 1);
	position : absolute ;
	left : 3020px;
	top : 3757px;
	width : 28px;
	height : 157px;
	border-radius : 10px;
	-moz-border-radius : 10px;
	-webkit-border-radius : 10px;
}
.st61
{
	background : #FFFFFF;
	background : rgba(255, 255, 255, 1);
	position : absolute ;
	left : 2198px;
	top : 3838px;
	width : 641px;
	height : 182px;
}
.st62
{
	background : #FFFFFF;
	background : rgba(255, 255, 255, 1);
	position : absolute ;
	left : 2198px;
	top : 4021px;
	width : 641px;
	height : 182px;
}
.st63
{
	background : #FFFFFF;
	background : rgba(255, 255, 255, 1);
	position : absolute ;
	left : 2198px;
	top : 3655px;
	width : 641px;
	height : 1095px;
}
.st64
{
	background : #FFFFFF;
	background : rgba(255, 255, 255, 1);
	position : absolute ;
	left : 2198px;
	top : 3655px;
	width : 641px;
	height : 182px;
}
.st65
{
	background : #F1EA22;
	background : rgba(241, 234, 34, 1);
	position : absolute ;
	left : 2198px;
	top : 3838px;
	width : 641px;
	height : 3px;
}
.st66
{
	background : #F1EA22;
	background : rgba(241, 234, 34, 1);
	position : absolute ;
	left : 2198px;
	top : 4021px;
	width : 641px;
	height : 3px;
}
.st67
{
	background : #F1EA22;
	background : rgba(241, 234, 34, 1);
	position : absolute ;
	left : 2198px;
	top : 4200px;
	width : 641px;
	height : 3px;
}
.st68
{
	background : #F1EA22;
	background : rgba(241, 234, 34, 1);
	position : absolute ;
	left : 2198px;
	top : 4386px;
	width : 641px;
	height : 3px;
}
.st69
{
	background : #F1EA22;
	background : rgba(241, 234, 34, 1);
	position : absolute ;
	left : 2198px;
	top : 4569px;
	width : 641px;
	height : 3px;
}
.st70
{
	background : #7DAA40;
	background : rgba(125, 170, 64, 1);
	position : absolute ;
	left : 3087px;
	top : 85px;
	width : 35px;
	height : 35px;
}
.st71
{
	background : #D66127;
	background : rgba(214, 97, 39, 1);
	position : absolute ;
	left : 7204px;
	top : 2649px;
	width : 69px;
	height : 69px;
}
.st72
{
	background : #D8D8D8;
	background : rgba(216, 216, 216, 1);
	position : absolute ;
	left : 269px;
	top : -316px;
	width : 108px;
	height : 108px;
	border-radius : 0px;
	-moz-border-radius : 0px;
	-webkit-border-radius : 0px;
}
.st73
{
	background : #969696;
	background : rgba(150, 150, 150, 1);
	position : absolute ;
	left : 2219px;
	top : 3865px;
	width : 128px;
	height : 128px;
}
.st74
{
	background : #F1EA22;
	background : rgba(241, 234, 34, 1);
	position : absolute ;
	left : 4441px;
	top : 3192px;
	width : 641px;
	height : 356px;
}
.st75
{
	background : #D8D8D8;
	background : rgba(216, 216, 216, 1);
	position : absolute ;
	left : 322px;
	top : -210px;
	width : 17px;
	height : 14px;
}
.st76
{
	background : #F6F6F6;
	background : rgba(246, 246, 246, 1);
	position : absolute ;
	left : 5861px;
	top : 2451px;
	width : 641px;
	height : 741px;
}
.st77
{
	background : #F1EA22;
	background : rgba(241, 234, 34, 1);
	position : absolute ;
	left : 1442px;
	top : 473px;
	width : 641px;
	height : 356px;
}
.st78
{
	background : #F1EA22;
	background : rgba(241, 234, 34, 1);
	position : absolute ;
	left : 5861px;
	top : 2453px;
	width : 641px;
	height : 1095px;
}
.st79
{
	background : #71C05D;
	background : rgba(113, 192, 93, 1);
	position : absolute ;
	left : 7511px;
	top : 2649px;
	width : 69px;
	height : 69px;
}
.st80
{
	background : #E53B95;
	background : rgba(229, 59, 149, 1);
	position : absolute ;
	left : 7306px;
	top : 2649px;
	width : 69px;
	height : 69px;
}
.st81
{
	background : #F8F8F8;
	background : rgba(248, 248, 248, 1);
	position : absolute ;
	left : 7338px;
	top : -1057px;
	width : 640px;
	height : 171px;
}
.st82
{
	background : #F8F8F8;
	background : rgba(248, 248, 248, 1);
	position : absolute ;
	left : 7338px;
	top : -983px;
	width : 640px;
	height : 96px;
}
.st83
{
	background : #F8F8F8;
	background : rgba(248, 248, 248, 1);
	position : absolute ;
	left : 5929px;
	top : -1057px;
	width : 640px;
	height : 171px;
}
.st84
{
	background : #BEBEBE;
	background : rgba(190, 190, 190, 1);
	position : absolute ;
	left : 6978px;
	top : 2621px;
	width : 640px;
	height : 1px;
}
.st85
{
	background : #F8F8F8;
	background : rgba(248, 248, 248, 1);
	position : absolute ;
	left : 5929px;
	top : -983px;
	width : 640px;
	height : 96px;
}
.st86
{
	background : #F8F8F8;
	background : rgba(248, 248, 248, 1);
	position : absolute ;
	left : 6643px;
	top : -1057px;
	width : 640px;
	height : 171px;
}
.st87
{
	background : #F8F8F8;
	background : rgba(248, 248, 248, 1);
	position : absolute ;
	left : 6643px;
	top : -983px;
	width : 640px;
	height : 96px;
}
.st88
{
	background : #F8F8F8;
	background : rgba(248, 248, 248, 1);
	position : absolute ;
	left : 6978px;
	top : 2525px;
	width : 640px;
	height : 97px;
}
.st89
{
	background : #4374B9;
	background : rgba(67, 116, 185, 1);
	position : absolute ;
	left : 6994px;
	top : 2475px;
	width : 25px;
	height : 42px;
}
.st90
{
	background : #4374B9;
	background : rgba(67, 116, 185, 1);
	position : absolute ;
	left : 6659px;
	top : -1033px;
	width : 25px;
	height : 42px;
}
.st91
{
	background : #4374B9;
	background : rgba(67, 116, 185, 1);
	position : absolute ;
	left : 7354px;
	top : -1033px;
	width : 25px;
	height : 42px;
}
.st92
{
	background : #DE3D62;
	background : rgba(222, 61, 98, 1);
	position : absolute ;
	left : 2951px;
	top : 2452px;
	width : 641px;
	height : 1095px;
}
.st93
{
	background : #F6F6F6;
	background : rgba(246, 246, 246, 1);
	border-style : Solid;
	border-color : #7DAA40;
	border-color : rgba(125, 170, 64, 1);
	border-width : 1px;
	position : absolute ;
	left : 3073px;
	top : 3379px;
	width : 399px;
	height : 102px;
	border-radius : 51px;
	-moz-border-radius : 51px;
	-webkit-border-radius : 51px;
}
.st94
{
	background : #FFFFFF;
	background : rgba(255, 255, 255, 1);
	position : absolute ;
	left : 6410px;
	top : 1186px;
	width : 641px;
	height : 1095px;
}
.st95
{
	background : #7DAA40;
	background : rgba(125, 170, 64, 1);
	position : absolute ;
	left : 3728px;
	top : 2453px;
	width : 641px;
	height : 1095px;
}
.st96
{
	background : #37499E;
	background : rgba(55, 73, 158, 1);
	position : absolute ;
	left : 7409px;
	top : 2649px;
	width : 69px;
	height : 69px;
}
.st97
{
	background : #FFFFFF;
	background : rgba(255, 255, 255, 1);
	position : absolute ;
	left : 6410px;
	top : 1366px;
	width : 641px;
	height : 182px;
}
.st98
{
	background : #FFFFFF;
	background : rgba(255, 255, 255, 1);
	position : absolute ;
	left : 2952px;
	top : 2452px;
	width : 641px;
	height : 1095px;
}
.st99
{
	background : #7DAA40;
	background : rgba(125, 170, 64, 1);
	position : absolute ;
	left : 3036px;
	top : 29px;
	width : 35px;
	height : 35px;
}
.st100
{
	background : #7DAA40;
	background : rgba(125, 170, 64, 1);
	position : absolute ;
	left : 2267px;
	top : 4490px;
	width : 28px;
	height : 157px;
	border-radius : 10px;
	-moz-border-radius : 10px;
	-webkit-border-radius : 10px;
}
.st101
{
	background : #7DAA40;
	background : rgba(125, 170, 64, 1);
	position : absolute ;
	left : 2987px;
	top : 88px;
	width : 35px;
	height : 35px;
}
.st102
{
	background : #7DAA40;
	background : rgba(125, 170, 64, 1);
	position : absolute ;
	left : 5730px;
	top : 1187px;
	width : 641px;
	height : 1095px;
}
.st103
{
	background : #FFFFFF;
	background : rgba(255, 255, 255, 1);
	position : absolute ;
	left : 3728px;
	top : 2453px;
	width : 641px;
	height : 1095px;
}
.st104
{
	background : #F5EB1E;
	background : rgba(245, 235, 30, 1);
	position : absolute ;
	left : 267px;
	top : -318px;
	width : 108px;
	height : 107px;
	border-radius : 0px;
	-moz-border-radius : 0px;
	-webkit-border-radius : 0px;
}
.st105
{
	background : #969696;
	background : rgba(150, 150, 150, 1);
	position : absolute ;
	left : 2219px;
	top : 3682px;
	width : 128px;
	height : 128px;
}
.st106
{
	background : #FFFFFF;
	background : rgba(255, 255, 255, 1);
	position : absolute ;
	left : 2952px;
	top : 2452px;
	width : 641px;
	height : 182px;
}
.st107
{
	background : #3D3D3D;
	background : rgba(61, 61, 61, 1);
	position : absolute ;
	left : 7000px;
	top : 2649px;
	width : 69px;
	height : 69px;
}
.st108
{
	background : #F1EA22;
	background : rgba(241, 234, 34, 1);
	position : absolute ;
	left : 2816px;
	top : 473px;
	width : 641px;
	height : 356px;
}
.st109
{
	background : #FBF9D7;
	background : rgba(251, 249, 215, 1);
	position : absolute ;
	left : 7102px;
	top : 2649px;
	width : 69px;
	height : 69px;
}
.st110
{
	background : #F1EA22;
	background : rgba(241, 234, 34, 1);
	position : absolute ;
	left : 2130px;
	top : 473px;
	width : 641px;
	height : 356px;
}
.st111
{
	background : #7DAA40;
	background : rgba(125, 170, 64, 1);
	position : absolute ;
	left : 2219px;
	top : 4413px;
	width : 128px;
	height : 128px;
}
.st112
{
	background : #FFFFFF;
	background : rgba(255, 255, 255, 1);
	position : absolute ;
	left : 3728px;
	top : 2632px;
	width : 641px;
	height : 182px;
}
.st113
{
	background : #FFFFFF;
	background : rgba(255, 255, 255, 1);
	position : absolute ;
	left : 2952px;
	top : 2635px;
	width : 641px;
	height : 182px;
}
.st114
{
	background : #F6F6F6;
	background : rgba(246, 246, 246, 1);
	border-style : Solid;
	border-color : #7DAA40;
	border-color : rgba(125, 170, 64, 1);
	border-width : 1px;
	position : absolute ;
	left : 5985px;
	top : 3376px;
	width : 399px;
	height : 102px;
	border-radius : 51px;
	-moz-border-radius : 51px;
	-webkit-border-radius : 51px;
}
.st115
{
	background : #F6F6F6;
	background : rgba(246, 246, 246, 1);
	border-style : Solid;
	border-color : #7DAA40;
	border-color : rgba(125, 170, 64, 1);
	border-width : 1px;
	position : absolute ;
	left : 3849px;
	top : 3376px;
	width : 399px;
	height : 102px;
	border-radius : 51px;
	-moz-border-radius : 51px;
	-webkit-border-radius : 51px;
}
.st116
{
	background : #F6F6F6;
	background : rgba(246, 246, 246, 1);
	border-style : Solid;
	border-color : #7DAA40;
	border-color : rgba(125, 170, 64, 1);
	border-width : 1px;
	position : absolute ;
	left : 5851px;
	top : 2114px;
	width : 399px;
	height : 102px;
	border-radius : 51px;
	-moz-border-radius : 51px;
	-webkit-border-radius : 51px;
}
.st117
{
	background : #7DAA40;
	background : rgba(125, 170, 64, 1);
	position : absolute ;
	left : 6409px;
	top : 1186px;
	width : 641px;
	height : 1095px;
}
.st118
{
	background : #F5EB1E;
	background : rgba(245, 235, 30, 1);
	position : absolute ;
	left : 322px;
	top : -210px;
	width : 14px;
	height : 12px;
}
.st119
{
	background : #FFFFFF;
	background : rgba(255, 255, 255, 1);
	position : absolute ;
	left : 5730px;
	top : 1370px;
	width : 641px;
	height : 182px;
}
.st120
{
	background : #7DAA40;
	background : rgba(125, 170, 64, 1);
	position : absolute ;
	left : 3195px;
	top : 113px;
	width : 35px;
	height : 35px;
}
.st121
{
	background : #7DAA40;
	background : rgba(125, 170, 64, 1);
	position : absolute ;
	left : 2219px;
	top : 4230px;
	width : 128px;
	height : 128px;
}
.st122
{
	background : #7DAA40;
	background : rgba(125, 170, 64, 1);
	position : absolute ;
	left : 3145px;
	top : 193px;
	width : 35px;
	height : 35px;
}
.st123
{
	background : #FFFFFF;
	background : rgba(255, 255, 255, 1);
	position : absolute ;
	left : 5730px;
	top : 1187px;
	width : 641px;
	height : 1095px;
}
.st124
{
	background : #F6F6F6;
	background : rgba(246, 246, 246, 1);
	border-style : Solid;
	border-color : #7DAA40;
	border-color : rgba(125, 170, 64, 1);
	border-width : 1px;
	position : absolute ;
	left : 2319px;
	top : 3379px;
	width : 399px;
	height : 102px;
	border-radius : 51px;
	-moz-border-radius : 51px;
	-webkit-border-radius : 51px;
}
.st125
{
	background : #FFFFFF;
	background : rgba(255, 255, 255, 1);
	position : absolute ;
	left : 5730px;
	top : 1187px;
	width : 641px;
	height : 182px;
}
.st126
{
	border-style : Dashed;
	border-color : #939598;
	border-color : rgba(147, 149, 152, 1);
	border-width : 5px;
	position : absolute ;
	left : 2319px;
	top : -124px;
	width : 210px;
	height : 502px;
}
.st127
{
	border-style : Solid;
	border-color : #7DAA40;
	border-color : rgba(125, 170, 64, 1);
	border-width : 5px;
	position : absolute ;
	left : 2420px;
	top : 158px;
	width : 56px;
	height : 218px;
}
.st128
{
	background : #F6F6F6;
	background : rgba(246, 246, 246, 1);
	position : absolute ;
	left : 2130px;
	top : -270px;
	width : 641px;
	height : 1100px;
}
.st129
{
	background : #969696;
	background : rgba(150, 150, 150, 1);
	position : absolute ;
	left : 2219px;
	top : 4048px;
	width : 128px;
	height : 128px;
}
.st130
{
	background : #7DAA40;
	background : rgba(125, 170, 64, 1);
	position : absolute ;
	left : 2219px;
	top : 4595px;
	width : 128px;
	height : 128px;
}
.st131
{
	border-style : Solid;
	border-color : #7DAA40;
	border-color : rgba(125, 170, 64, 1);
	border-width : 5px;
	position : absolute ;
	left : 3005px;
	top : -124px;
	width : 210px;
	height : 502px;
}
.st132
{
	background : #F8F8F8;
	background : rgba(248, 248, 248, 1);
	position : absolute ;
	left : 6978px;
	top : 2451px;
	width : 640px;
	height : 171px;
}
.st133
{
	background : #F6F6F6;
	background : rgba(246, 246, 246, 1);
	border-style : Solid;
	border-color : #7DAA40;
	border-color : rgba(125, 170, 64, 1);
	border-width : 1px;
	position : absolute ;
	left : 6531px;
	top : 2110px;
	width : 399px;
	height : 102px;
	border-radius : 51px;
	-moz-border-radius : 51px;
	-webkit-border-radius : 51px;
}
.st134
{
	background : #7DAA40;
	background : rgba(125, 170, 64, 1);
	position : absolute ;
	left : 2267px;
	top : 4268px;
	width : 28px;
	height : 157px;
	border-radius : 10px;
	-moz-border-radius : 10px;
	-webkit-border-radius : 10px;
}
.st135
{
	background : #4374B9;
	background : rgba(67, 116, 185, 1);
	position : absolute ;
	left : 5945px;
	top : -1033px;
	width : 25px;
	height : 42px;
}
.st136
{
	background : #F6F6F6;
	background : rgba(246, 246, 246, 1);
	position : absolute ;
	left : 2815px;
	top : -270px;
	width : 641px;
	height : 1100px;
}
.NormalCharacterStyle89
{
	font-family : Helvetica;
	font-size : 67px;
	color : #060809;
	color : rgb(6, 8, 9);
}
.NormalCharacterStyle88
{
	font-family : HelveticaNeueThin;
	font-size : 33px;
	color : #231F20;
	color : rgb(35, 31, 32);
}
.NormalCharacterStyle87
{
	font-family : Helvetica;
	font-size : 67px;
	color : #060809;
	color : rgb(6, 8, 9);
}
.NormalCharacterStyle86
{
	font-family : HelveticaNeueThin;
	font-size : 33px;
	color : #231F20;
	color : rgb(35, 31, 32);
}
.NormalCharacterStyle85
{
	font-family : HelveticaNeueThin;
	font-size : 33px;
	color : #231F20;
	color : rgb(35, 31, 32);
}
.NormalCharacterStyle84
{
	font-family : HelveticaNeueThin;
	font-size : 33px;
	color : #231F20;
	color : rgb(35, 31, 32);
}
.NormalCharacterStyle83
{
	font-family : HelveticaNeueThin;
	font-size : 33px;
	color : #231F20;
	color : rgb(35, 31, 32);
}
.NormalCharacterStyle82
{
	font-family : Helvetica;
	font-size : 67px;
	color : #060809;
	color : rgb(6, 8, 9);
}
.NormalCharacterStyle81
{
	font-family : HelveticaNeueThin;
	font-size : 33px;
	color : #231F20;
	color : rgb(35, 31, 32);
}
.NormalCharacterStyle80
{
	font-family : Helvetica;
	font-size : 67px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
