<?xml version='1.0' encoding='utf-8'?>
<widget id="com.almende.VirtualMemo" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>VirtualMemo</name>
    <description>
        A "virtual memo", an application for the WOTS conference that can afterwards be used to leave electronic message on a iBeacon-like device that can be attached to a fridge.
    </description>
    <author email="anne@dobots.nl" href="https://dobots.nl">
        Anne van Rossum
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="StatusBarOverlaysWebView" value="true" />
    <preference name="UIWebViewBounce" value="false" />
    <feature name="BluetoothLePlugin">
        <param name="ios-package" value="BluetoothLePlugin" />
    </feature>
    <icon src="www/img/logo.png" />
    <icon src="www/img/logo.png" platform="android" density="ldpi" />
    <icon src="www/img/logo.png" platform="android" density="mdpi" />
    <icon src="www/img/logo.png" platform="android" density="hdpi" />
    <icon src="www/img/logo.png" platform="android" density="xhdpi" />
</widget>
